@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
}

html, body {
  width: 100%;
  /* min-height: 100vh; */
  height: 100%;
  background-color: #fefefe;
  color: #57445e;
}